<?xml version="1.0"?>
<config>
    <modules>
        <Agil_Reviews>
            <version>0.1.0</version>
        </Agil_Reviews>
    </modules>
    <global>
        <models>
            <agil_reviews>
                <class>Agil_Reviews_Model</class>
                <resourceModel>agil_reviews_resource</resourceModel>
            </agil_reviews>
            <agil_reviews_resource>
                <class>Agil_Reviews_Model_Resource</class>
                <entities>
                    <review>
                        <table>reviews</table>
                    </review>
                </entities>
            </agil_reviews_resource>
        </models>
        <resources>
            <agil_reviews_setup>
                <setup>
                    <module>Agil_Reviews</module>
                </setup>
            </agil_reviews_setup>
            <agil_reviews_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </agil_reviews_write>
            <agil_reviews_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </agil_reviews_read>
        </resources>
        <blocks>
            <agil_reviews>
                <class>Agil_Reviews_Block</class>
            </agil_reviews>
        </blocks>
        <helpers>
            <reviews>
                <rewrite>
                    <data>Agil_Reviews_Helper_Data</data>
                </rewrite>
            </reviews>
        </helpers>
        <crontab>
            <jobs>
                <agil_reviews_send>
                    <schedule><cron_expr>0 1 * * *</cron_expr></schedule>
                    <run><model>agil_reviews/observer::sendReviewMail()</model></run>
                </agil_reviews_send>
            </jobs>
        </crontab>
    </global>
    <frontend>
        <routers>
            <reviews>
                <use>standard</use>
                <args>
                    <module>Agil_Reviews</module>
                    <frontName>reviews</frontName>
                </args>
            </reviews>
        </routers>
        <layout>
            <updates>
                <reviews>
                    <file>reviews.xml</file>
                </reviews>
            </updates>
        </layout>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Agil_Reviews.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Agil_Reviews.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <agil_reviews before="Mage_Adminhtml">Agil_Reviews_Adminhtml</agil_reviews>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>